body{
    margin:0;
    margin-top: 30px;
    padding:0;
    display: block;
    justify-content:center;
     height:100%;
    background: black;
  }
  .credit{
      width: 800px;
      height: auto;
      margin-top: 20px;
      margin-left: 235px;
      position: absolute;
      font-family: Lucida grande;
      padding: 10px;
      text-align: center;
      word-spacing: 5px;
      border-radius: 5px;
      text-transform: uppercase;
      color: white;
      background: black;
      font-size: 25px;
  }