body{
  margin: 0;
}
.cname{
  width: 900px;
  height: 30px;
  margin-top: 10px;
  margin-left: 200px;
  position: relative;
  font-family: sans-serif;
  padding: 10px;
  text-align: center;
  word-spacing: 5px;
  text-transform: uppercase;
  color: rgb(1, 88, 170);
  font-size: 30px;
}
.reset{
    width: 100%;
    height: 30px;
    margin-top: 15px;
    position: relative;
    font-family: sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    word-spacing: 2px;
    background-color:black;
    text-transform: uppercase;
    color: white;
    font-size: 30px;
}
.forget-box{
    width: 100%;
    height: auto;
    margin-top: 10px;
    position: relative;
    font-family: sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    word-spacing: 3px;
    color:white;
    text-transform: uppercase;
    background-color: rgb(61, 160, 199);
    font-size: 16px;
}
p{
    text-transform: uppercase;
    color: rgb(2, 0, 97);
    margin-top: 10px;
    font-size: 36px;
    font-weight: 600;
    position: relative;
    font-family: sans-serif;
    padding: 10px;
    text-align: center;
    word-spacing: 2px;
}
.bottom{
  width: 100%;
  height: 70%;
  position: absolute;
  background-color: rgb(228, 228, 228);
  padding-bottom: 10px;
  padding-top: 10px;
}
.mail{
        background: skyblue;
        width: 440px;
        height: 390px;
        position: absolute;
        margin: 0px 0px 0px 430px;
        color: black;
        text-align: center;
        font-size: 18px;
        padding: 20px;
        border-radius: 20px;
      }
      label{
        color: black;
        font-family: sans-serif;
        font-size: 18px;
        margin-left: -240px;
        
      }
      #name{
        width: 300px;
        border: blue;
        border-radius: 3px;
        outline: 2;
        background-color: rgb(247, 247, 247);
        color:black;
        padding: 7px;
        }
        #sub{
            width: 200px;
            padding:10px;
            font-size: 16px;
            font-family: sans-serif;
            font-style: italic;
            font-weight: 600;
            border: none;
            color: white;
            background-color: rgb(13, 76, 148);
            border-radius: 10px;
            outline: 0;
          }