body{
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
    align-items:top;
    height:100%;
    background:#000;
}
#invalid
{
color:red;
font-family:comic sans ms;
font-style:italic;
}
p{
    position: absolute;
    font-family:sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: 4px;
    overflow:hidden; 
    background: linear-gradient(90deg,#000,#fff,#000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 4s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255,255,255,.01);
}
@keyframes animate
{
    0%
    {
        background-position: -500%;
    }
    100%
    {
        background-position: 500%;
        
    }
}
.form-box{
    width:300px;
    height:450px;
    position: relative;
    top:150px;
    margin-left: auto;
    margin-right: auto;
     background: #fff;
    padding: 5px;
    border-radius: 30px;
    overflow: hidden;
}
.center {
       display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    width: 50%;
  }
  .button-box{
      width: 220px;
      margin: 35px;
      margin-top: 15px;
      position: relative;
      box-shadow: 0 0 20px 9px #ff61241f;
      border-radius: 30px;
  }
  #btn{
      top:0px;
      left: 0px;
      position: absolute;
      width: 110px;
      height: 100%;
      background: linear-gradient(to right,#ff105f,#ffad06 );
      border-radius: 30px;
      transition: 0.5s;
  }
  .toggle-btn{
      padding: 10px 30px;
      cursor: pointer;
      background: transparent;
      border: 0;
      outline: none;
      position: relative;

  }
.input-group{
    top:215px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline:none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    
    padding: 10px 30px;
    cursor: pointer;
    display:block;
    margin:  auto;
    background: linear-gradient(to right ,#ff105f,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;

}
#Student{
left: 10px;
}
#Staff{
    left: 450px;
    }
.wallpaper{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: fixed;
}
.thought{ 
    font-family:sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 5px;
    position: absolute;
    bottom: 180px;
    left: 16px;
}
.container{width:300px;
    height:400px;
    position: relative;
    top:150px;
    margin-left: 10px;
    margin-right: auto;
     background:transparent;
    padding: 5px;
    
    border-radius: 30px;
}
.thought-right{ 
    font-family:sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 5px;
    position: absolute;
    bottom: 180px;
    left: 16px;
}
.container-right{width:330px;
    height:400px;
    position: relative;
    top:160px;
    margin-left: auto;
    margin-right: 10px;
     background:transparent;
    padding: 5px;
    border-radius: 30px;
}
.forget{
    width: 48%;
    display:block;
    margin:  auto;
}